<% content_for :nav do %>
  Viewing game <%= @game.name %>
  <%= link_to "All games", games_path %>
<% end %>
<div id="game">
  <% @game.game_users.each_with_index do |game_user, idx| %>
    <div id="user_<%= idx %>" class="user">
      <%= h game_user.user.name %>
      <%= render :partial => 'user', :locals => {:game_user => game_user} %>
    </div>
  <% end %>
</div>

