<% content_for :nav do %>
  Viewing game <%= @game.name %>
  <%= link_to "All games", games_path %>
<% end %>
<div id="game">
  <% @game.game_users.each_with_index do |game_user, idx| %>
    <div id="user_<%= idx %>" class="user">
      <%= h game_user.user.name %>
      <%= render :partial => 'user', :locals => {:game_user => game_user} %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.card_link').click(function(event) {
    event.stopImmediatePropagation();
    var $target = $(event.target);
    show_card_actions($target.attr('card_id'), event.pageX, event.pageY);
    return false;
  });
</script>
