<%= link_to card.name.titlecase, edit_card_path(card), :class => 'card_link', :card_id => card.id  %>
<div class="card_container" id="card_<%= card.id %>" style="display:none;">
  <div class="card <%= card.color %>">
    <div class="title field">
      <div class="name"><%= card.name.titlecase %></div>
      <div class="cost"><%= render_cost("-#{card.cost}-") %></div>
    </div>
    <div class="type field">
     <%= card.card_type.titlecase %> 
     <%= " &#45; #{card.card_sub_type.titlecase}" unless card.card_sub_type.blank? %>
     </div>
     <div class="image"></div>
    <div class="text field" style="font-size: <%= card.font_size %>px;">
      <%= render_cost(card.text) %>
      <% if card.flavor %>
        <div class="flavor"><%= card.flavor %></div>
      <% end %>
    </div>
    <% unless card.pretty_stats.blank? %>
      <div class="stats field">
        <%= card.pretty_stats %>
      </div>
    <% end %>
    <div class="actions field">
        <%= link_to 'Edit', edit_card_path(card) %>
        <%= link_to 'Delete', card_path(card), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
</div>
