<table class="card_table">
	<thead>
		<td>Name</td>
		<td>Cost</td>
		<td>Type</td>
		<td>Sub-type</td>
		<td>Text</td>
		<td>Stats</td>
	</thead>
	<% for card in cards do %>
		<tr class="<%= cycle("even", "odd") %>">
      <td>
        <%= render :partial => 'cards/card', :locals => {:card => card} %>
      </td>
			<td><%= render_cost(card.cost) %></td>
			<td><%= card.card_type.titlecase %></td>
			<td><%= card.card_sub_type.try(:titlecase) %></td>
			<td><%= card.text %></td>
			<td>
				<%= card.pretty_stats %>
				<div id="card_<%= card.id %>" style="display: none;">
					<%= render :partial => 'cards/card', :locals => {:card => card} %>
				</div>
			</td>
      <% if show_add_to_deck_link %>
        <td><%= link_to "Add card", add_card_deck_path(deck, :card_id => card.id, :search => search_params), :method => 'post' %></td>
      <% end %>
      <% if show_remove_from_deck_link %>
        <td><%= link_to "Remove card", remove_card_deck_path(deck, :card_id => card.id, :search => search_params), :method => 'post' %></td>
      <% end %>
		</tr>
	<% end %>
</table>
