<h1>Editing Deck <%= @deck.name %></h1>
<div id="in_use">
  <h2>Cards in this deck (<%= @deck.cards.count %>)</h2>
  <table>
    <% for card_type in Card::CARD_TYPES do %>
      <tr>
        <td><%= card_type.titlecase %></td>
        <td><%= @deck.card_search(:card_type => card_type).size %></td>
      </tr>
    <% end %>

  </table>
  <%= render :partial => 'cards/card_table', :locals => {
    :cards => @cards_in_deck, 
    :deck => @deck, 
    :search_params => @search_params,
    :show_add_to_deck_link => false,
    :show_remove_from_deck_link => true
  } %>
</div>
<div id="available">
  <h2>Cards available</h2>
  <% form_for "search", :html => {:id => "card_filter", :onchange => "this.submit();",:method => "get"} do |f| %>
    <%= label_tag "search[color]", "Color" %>
    <%= select("search", "color", Card::COLORS.sort.map(&:titlecase), {:include_blank => "All", :selected => (@search_params[:color] || "")}) %>

    <%= label_tag "search[card_type]", "Type" %>
    <%= select("search", "card_type", Card::CARD_TYPES.sort.map(&:titlecase), {:include_blank => "All", :selected => (@search_params[:card_type] || "")}) %>

    <%= label_tag "search[set]", "Set" %>
    <%= select("search", "set", Card::SET_CODES.sort, {:include_blank => "All", :selected => (@search_params[:set] || "")}) %>
  <% end %>

  <%= render :partial => 'cards/card_table', :locals => {
    :cards => @cards, 
    :deck => @deck, 
    :search_params => @search_params,
    :show_add_to_deck_link => true,
    :show_remove_from_deck_link => false
  } %>
</div>
