<html>
  <head>
    <title>D and P's Hexerrific App</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= show_flash %>
    <%= yield %>
  </body>
</html>
