<html>
  <head>
    <title>D and P's Hexerrific App</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="navigation">
      <%= yield :nav %>
    </div>
    <% if @current_user %>
      <div id="user_options">
        Hi, you're logged in as <b><%= @current_user.name %>
        &bull; <%= link_to "Log out", logout_users_path %>
      </div>
    <% end %>
    <%= show_flash %>
    <%= yield %>
    <script type="text/javascript">
      $('.card_link').mouseover(function(event) {
        var $target = $(event.target);
        show_card_info($target.attr('card_id'), event.pageX, event.pageY);
      });
      $('.card_link').mouseout(function(event) {
        var $target = $(event.target);
        hide_card_info($target.attr('card_id'));
      });
      $('body').click(function(event) {
        $('.card_action_container').hide();
      });
    </script>
  </body>
</html>
